<% layout('layouts/boilerplate')%>

<h1>All Contacts</h1>
    <a href="/contacts/new">New Contact</a>
    <table>
        <tr>
            <th>Name</th>
            <th>Title</th>
            <th>Program</th>
            <th>Email</th>
            <th>Phone Number</th>
        </tr>
        <% for(person of people) { %> 
        <tr>
            <td><%=person.name%></td>
            <td><%=person.title%></td>
            <td><%=person.program%></td>
            <td><%=person.email%></td>
            <td><%=person.phoneNumber%></td>
            <td>
                <form class="d-inline" action="/contacts/<%=person._id%>?_method=DELETE" method="POST">
                    <button class="btn btn-danger">Delete</button>
                </form>
            </td>
            <td>
                <a class="btn btn-info" href="/contacts/<%=person._id%>/edit">Edit</a>
            </td>
        </tr>
        <% } %> 
    </table>