<% layout('layouts/boilerplate')%>

<h1>All Contacts</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <form action="/contacts/filtered" method="GET">
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name" name="name">
                </div>
                <div class="mb-3">
                    <select class="form-select" name="titleFilter" aria-label="Default select example">
                        <option selected>Select a Title</option>
                        <option value="Student">Student</option>
                        <option value="Staff">Staff</option>
                    </select>
                </div>
                <div class="mb-3">
                    <select class="form-select" name="programFilter" aria-label="Default select example">
                        <option selected>Select a Program</option>
                        <option value="Computer Engineering Technology">Computer Engineering Technology</option>
                        <option value="Civil Engineering Technology">Civil Engineering Technology</option>
                        <option value="Electronics Engineering Technology">Electronics Engineering Technology</option>
                        <option value="Electrical Engineering Technology">Electrical Engineering Technology</option>
                        <option value="Mechanical Engineering Technology">"Mechanical Engineering Technology</option>
                    </select>
                </div>
                <div class="d-grid gap-2 col-6 mx-auto">
                    <button type="submit" class="btn">Filter</button>
                </div>
            </form>
            <a href="/contacts">Clear Filters</a>
        </div>
        <div class="col-md-9">
            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Title</th>
                        <th scope="col">Program</th>
                        <th scope="col">Email</th>
                        <th scope="col">Phone Number</th>
                        <%if(currentUser.isAdmin){%>
                        <th scope="col"></th>
                        <% } %> 
                    </tr>
                    <% for(person of people) { %> 
                    <tr>
                        <td scope="row"><%=person.name%></td>
                        <td><%=person.title%></td>
                        <td><%=person.program%></td>
                        <td><%=person.email%></td>
                        <td><%=person.phoneNumber%></td>
                        <%if(currentUser.isAdmin){%>
                        <td>
                            <form class="d-inline" action="/contacts/<%=person._id%>?_method=DELETE" method="POST">
                                <button class="btn btn-danger">Delete</button>
                            </form>
                            <a class="btn btn-info" href="/contacts/<%=person._id%>/edit">Edit</a>
                        </td>
                        <% } %> 
                    </tr>
                    <% } %> 
                </table>
            </div>
        </div>
    </div>
</div>